<!DOCTYPE html>
<head>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
        <div class="form-group">
            <label for="slno">SL NO:</label><br>
            <input  type="text" class="form-control" name="SLNO" id="slno" value="{{ obj1.slno }}" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label for="itemname">Item name:</label><br>
            <input type="text" class="form-control" name="itemname" id="itemname" value="{{ obj1.name }}" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label for="description">Description:</label><br>
            <input type="text" class="form-control" name="description" id="description" value="{{ obj1.description }}" required>
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Confirm</button>
    </div>
        </form>
</body>
</html>